<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="true"
         colors="true"
         bootstrap="bootstrap.php"
         processIsolation="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Purli Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/</directory>
        </whitelist>
    </filter>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="7777" />
        <const name="WEB_SERVER_DOCROOT" value="../tests/responses" />
    </php>
</phpunit>